---
title: Build Better Prototypes with PG
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
	{{#content "main"}}
	{{! WrapWith START: Section }}
		{{#wrapWith "p-section"}}
			<div class="bourbon-teaser is-shift-1 clear-left-gutter is-highlight-1 is-grid-1 is-gutter">
				<p>1</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-2 is-gutter">
				<p>2</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-3 is-gutter">
				<p>3</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-4">
				<p>4</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-1">
				<p>1</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-1">
				<p>1</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-1 is-gutter">
				<p>1</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-3 is-gutter">
				<p>3</p>
			</div>

			<div class="bourbon-teaser is-highlight-1 is-grid-5 is-gutter">
				<p>5</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-6">
				<p>6</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-7">
				<p>7</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-8">
				<p>8</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-9">
				<p>9</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-10">
				<p>10</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-11">
				<p>11</p>
			</div>
			<div class="bourbon-teaser is-highlight-1 is-grid-12">
				<p>12</p>
			</div>
		{{/wrapWith}}
	{{! WrapWith END: Section }}
	{{/content}}
{{/extend}}
