<div class="bourbon-pagination">
	<ul>
		<li class="page-prev">
			<a href="javascript:void(0)">Prev</a>
		</li>
		<li>
			<ul>
				{{#times 8}}
					<li>
						<a href="javascript:void(0)">{{this}}</a>
					</li>
				{{/times}}
			</ul>
		</li>
		<li class="page-next">
			<a href="javascript:void(0)">Next</a>
		</li>
	</ul>
</div>